.vetcard-container {
    min-height: 500px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    .vetcard-header {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 4.5vmin;
        }
        .vetcard-image {
            height: 100%;
            width: 100%;
            object-fit: contain;
            @media(max-width: 1024px) {
                height: 60vmin;
            }
        }
    }
}